body, html {
  margin: 0;
  height: 100%;
  font: sans-serif;

}

section#app {
  height: 100%;
  position: relative;
}

/* Remove default margin that gets added to header items*/
h1, h2, h3, h4, h5, h6 { margin: 0; }

img.md-max-height { max-height: 6em;}
img.sm-max-height { max-height: 3em; }


.description-section-header {
  background-color: rgba(200,200,200,.5);
  color: black;
  font-weight: 400;
}

/***************************/
/* Flexbox utility classes */
/***************************/

.flex {
  display: flex
}

.flex.wrapped { flex-wrap: wrap; }
.flex.columns { flex-direction: column; }
.flex.row { flex-direction: row; }
.flex.flow-row-wrap { flex-flow: row wrap; }

.flex-grow { flex-grow: 1; }

.flex.centered-vert { align-items: center; }
.flex.centered-horiz { justify-content: center; }
.flex.centered {
  align-items: center;
  justify-content: center;
}

.flex.justified-right { justify-content: right; }

.basis-1-3 { flex-basis: calc(100% / 3); }
.basis-1-2 { flex-basis: calc(100% / 2); }
.basis-1-6 { flex-basis: calc(100% / 6); }
.basis-1 { flex-basis: 100%; }

.flex.contents-centered {
  align-items: center;
  justify-content: center;
}

/**********/
/* Colors */
/**********/

.concrete-bg { background-color: #95a5a6; } /* flatuicolors.com/concrete */
.emerald-bg { background-color: #2ecc71; } /* flatuicolors.com/emerald */
.emerald-fg { color: #2ecc71; } /* flatuicolors.com/emerald */
.silver-bg { background-color: #bdc3c7; }  /* flatuicolors.com/silver */
.clouds-bg { background-color: #ecf0f1; }  /* flatuicolors.com/clouds */
.alizarin-bg { background-color: #e74c3c; }  /* flatuicolors.com/alizarin */
.alizarin-fg { color: #e74c3c; }  /* flatuicolors.com/alizarin */
.sunflower-bg { background-color: #f1c40f; }  /* flatuicolors.com/sunflower */
.amethyst-bg { background-color: #9b59b6; }  /* flatuicolors.com/amethyst */
.nephritis-bg { background-color: #27ae60; }  /* flatuicolors.com/nephritis */
.nephritis-fg { color: #27ae60; }  /* flatuicolors.com/nephritis */
.wet-asphalt-bg { background-color: #34495e; }/* flatuicolors.com/wet-asphalt */
.asbestos-bg { background-color: #7f8c8d; } /* flatuicolors.com/asbestos */

.white-fg { color: white; }
.white-bg { background-color: white; }
.black-fg { color: black; }
.gray-fg { color: gray; }
.gray-bg { background-color: gray; }
.very-light-gray-fg { color: #EEE; }
.gold-fg { color: gold; }
.gold-bg { color: gold; }

/** theme styles */
.ts-turquoise-fg { color: #285269; }
.ts-turquoise-bg { background-color: #285269; }
.ts-gold-fg { color: #E2C20F; }
.ts-gold-bg { background-color: #E2C20F; }

.site-icon {
  max-height: 2em;
}

/*********/
/* Forms */
/*********/

form.pure-form.minimal input {
  background-color: rgba(0,0,0,0);
  border: none;
  outline: 0;
  box-shadow: none;
  font-size: 2em;
  padding: .1em;
  border-radius: 0;
  transition: border-color .3s, border-width .3s;
}

form.pure-form.minimal.black-theme input {
  color: black;
  border-bottom: .1em solid black;
}

form.pure-form.minimal.white-theme input {
  color: white;
  border-bottom: .1em solid white;
}

form.pure-form.minimal.black-theme input:focus {
  border-color: #285269; /* turquoise */
  border-width: .3em;
}

form.pure-form.minimal.white-theme input:focus {
  border-color: #E2C20F; /* gold */
  border-width: .3em;
}

form.pure-form.minimal textarea {
  outline: none;
  border: .2em solid black;
  text-shadow: none;
  border-radius: 0;
  box-shadow: none;
  color: black;
  transition: border-color .3s, border-width .3s;
}

form.pure-form.minimal.white-theme textarea {
  border: .2em solid white;
}

form.pure-form.minimal.white-theme textarea:focus {
  border-color: #E2C20F; /* gold */
  border-width: .6em;
}

form.pure-form.minimal textarea:focus {
  border-color: #285269; /* turquoise */
  border-width: .6em;
}

form.pure-form.minimal select {
  outline: none;
  box-shadow: none;
  border-radius: 0;
  padding: .5em;
  height: 3em;
  color: black;
  transition: border-color .3s, border-width .3s;
}

form.pure-form.minimal.white-theme select {
  border: .2em solid white; /* gold */
}

form.pure-form.minimal.black-theme select {
  border: .2em solid black;
}

form.pure-form.minimal.black-theme select:focus {
  border-color: #285269; /* turquoise */
  border-width: .4em;
}

form.pure-form.minimal.white-theme select:focus {
  border-color: #E2C20F; /* gold */
  border-width: .4em;
}

p.pure-form-message { color: inherit; }

.pure-form button[type="submit"].no-margin {
  margin: 0;
}

/****************/
/* Misc Styling */
/****************/

.xxs-pad-horiz { padding-left: .25em; padding-right: .25em; }
.xs-pad { padding: .5em; }
.sm-pad { padding: 1em; }
.md-pad { padding: 3em; }
.thick-pad { padding: 5em; }
.no-pad { padding: 0; }

.xs-margin { margin: .5em; }
.sm-margin { margin: 1em; }
.xs-margin-top { margin-top: .5em; }
.xs-margin-right { margin-right: .5em; }

.xs-margin-vertical {
  margin-top: .25em;
  margin-bottom: .25em;
}

.sm-margin-vertical {
  margin-top: 1em;
  margin-bottom: 1em;
}
.sm-margin-top { margin-top: 1em; }
.sm-margin-right { margin-right: 1em; }
.sm-margin-bottom { margin-bottom: 1em; }
.sm-margin-left { margin-left: 1em; }

.sm-margin-horiz {
  margin-left: 1em;
  margin-right: 1em;
}

.xs-margin-horiz {
  margin-left: .5em;
  margin-right: .5em;
}

.md-margin { margin: 3em; }
.md-margin-top { margin-top: 3em; }
.md-margin-bottom { margin-bottom: 3em; }

.no-vertical-margin {
  margin-top: 0;
  margin-bottom: 0;
}

.no-margin-bottom { margin-bottom: 0; }
.no-margin-top { margin-top: 0; }
.no-margin { margin: 0; }

.centered-text { text-align: center; }
.right-aligned-text { text-align: right; }
.left-aligned-text { text-align: left; }

.valign-mid { vertical-align: middle; }

.bold-text { font-weight: bold; }
.slim-text { font-weight: 200; }
.regular-text { font-weight: 400; }

.cursor-pointer { cursor: pointer; }

a.plain {
  color: inherit;
  text-decoration: none;
}
a.plain.dashed {
  text-decoration: none;
  border-bottom: 1px dashed;
}
a.plain:hover { text-decoration: none; }
a.plain:visited {
  color: inherit;
  text-decoration: none;
}

hr.plain {
  border-style: solid;
  margin-left: 25%;
  margin-right: 25%;
}

.xx-small { font-size: xx-small; }
.x-small { font-size: x-small; }
.small { font-size: small; }
.smaller { font-size: smaller; }
.larger-text { font-size: larger; }
.x-large-text { font-size: x-large; }
.xx-large-text { font-size: xx-large; }
.italic { font-style: italic; }

.min-full-height { min-height: 100%; }
.max-full-width { max-width: 100%; }

.full-width { width: 100%; }
.full-height { height: 100%; }
.full-space {
  width: 100%;
  height: 100%;
}

.text-height { height: 1em; }
.display-block { display: block; }
.display-iblock { display: inline-block; }

.half-line-height { line-height: .5em; }

.rel-pos { position: relative; }
.abs-pos { position: absolute; }

.abs-pos.top-rhs {
  top: 0;
  right: 0;
}
.abs-pos.top-lhs {
  top: 0;
  left: 0;
}

.opaque-black-bg { background-color: rgba(50,50,50,0.95); }

.alpha-20-black-bg { background-color: rgba(0, 0, 0, 0.2); }
.alpha-60-black-bg { background-color: rgba(0, 0, 0, 0.6); }

.circular-bg { border-radius: 50%; }

ul.no-style { list-style: none; }

.overflow-x-scroll { overflow-x: scroll; }
.overflow-x-auto { overflow-x: scroll; }
.overflow-y-scroll { overflow-y: scroll; }
.overflow-y-auto { overflow-y: auto; }

span.tag {
  border-radius: .2em;
  padding: .5em;
  color: white;
}

span.tag-error { background-color: #e74c3c; /* flatuicolors.com/alizarin */ }
span.tag-success { background-color: #2ecc71; /* flatuicolors.com/emerald */ }
span.tag-warning { background-color: #f1c40f;  /* flatuicolors.com/sunflower */ }
span.tag-info { background-color: #3498db;  /* flatuicolors.com/peter-river */ }

.rotate-45deg { transform: rotate(45deg); }

i.md { font-size: 2em; }
i.lg { font-size: 3em; }
i.xl { font-size: 4em; }

.border-box { box-sizing: border-box; }


.input-button-stack > button.pure-button {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/*************/
/* Animation */
/*************/

.transition.transform { transition-property: transform; }

.transition.fast { transition-duration: .5s; }
.transition.opacity { transition-property: opacity; }
.transition.opacity.invisible { opacity: 0; }

.transition.opacity.invisible.visible,
.transition.opacity.visible{
  opacity: 1;
}

/******************/
/* Pure Overrides */
/******************/

button.pure-button {
  transition: background-color 1s, width 1s;
}

.pure-button.button-xsmall { font-size: 70%; }
.pure-button.button-small { font-size: 85%; }
.pure-button.button-large { font-size: 110%; }
.pure-button.button-xlarge { font-size: 125%; }

.pure-button.button-success,
.pure-button.button-error,
.pure-button.button-warning,
.pure-button.button-secondary,
.pure-button.button-theme-primary,
.pure-button.button-theme-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.pure-button.button-success { background: rgb(28, 184, 65); } /* green */
.pure-button.button-error {  background: rgb(202, 60, 60); } /* maroon */
.pure-button.button-warning { background: rgb(223, 117, 20); } /* orange */
.pure-button.button-secondary { background: rgb(66, 184, 221); } /* light blue */
.pure-button.button-theme-primary { background-color: #285269; } /* turquoise */
.pure-button.button-theme-secondary { background-color: #E2C20F; } /* gold */

/* Cause buttons to the right of input to line up and look like they're the same */
.pure-button.right-of-input {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -3px;
}

.pure-button.button-circular { border-radius: 50%; }

form.pure-form .input-and-button > input,
form.pure-form .input-and-button > select {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

form.pure-form .input-and-button > button {
  margin-left: -6px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  height: 2.3em;
}

a.pure-menu-link { color: inherit; }
.pure-menu-heading, .pure-menu-link.wrap-ok { white-space: normal; }

.break-word-wrap { word-wrap: break-word; }

@media only screen and (max-width: 480px) {
  .pure-button.right-of-input {
    margin-bottom: .3em; /* buttons must mimic input fields which do this in pure */
  }
}

.pure-visible-before-sm { display:none }
.pure-visible-before-md { display:none }
.pure-visible-before-lg { display:none }
.pure-visible-before-xl { display:none }

.pure-visible-after-sm { display:none }
.pure-visible-after-md { display:none }
.pure-visible-after-lg { display:none }
.pure-visible-after-xl { display:none }

@media screen and (max-width:568px) { /* xs */
  .pure-visible-before-sm { display: block; }
  .pure-visible-before-md { display: block; }
  .pure-visible-before-lg { display: block; }
  .pure-visible-before-xl { display: block; }
}

@media screen and (min-width:568px) { /* sm */
  .pure-visible-after-sm { display: block; }

  .pure-visible-before-sm { display: none; }

  .pure-visible-before-md { display: block; }
  .pure-visible-before-lg { display: block; }
  .pure-visible-before-xl { display: block; }
}

@media screen and (min-width:768px) { /* md */
  .pure-visible-after-sm { display: block; }
  .pure-visible-after-md { display: block; }

  .pure-visible-before-sm { display: none; }
  .pure-visible-before-md { display: none; }

  .pure-visible-before-lg { display: block; }
  .pure-visible-before-xl { display: block; }
}

@media screen and (min-width:1024px) { /* lg */
  .pure-visible-after-sm { display: block; }
  .pure-visible-after-md { display: block; }
  .pure-visible-after-lg { display: block; }

  .pure-visible-before-sm { display: none; }
  .pure-visible-before-md { display: none; }
  .pure-visible-before-lg { display: none; }

  .pure-visible-before-xl { display: block; }
}

@media screen and (min-width:1280px) { /* xl+ */
  .pure-visible-after-sm { display: block; }
  .pure-visible-after-md { display: block; }
  .pure-visible-after-lg { display: block; }
  .pure-visible-after-xl { display: block; }

  .pure-visible-before-sm { display: none; }
  .pure-visible-before-md { display: none; }
  .pure-visible-before-lg { display: none; }
  .pure-visible-before-xl { display: none; }
}
