<div class="email-signup-component centered-text alpha-60-black-bg white-fg xs-pad">
  <h2 class="slim-text">Tired of searching through listings yourself? We'll email you when new jobs you care about show up!</h2>
  <p>One email a week with new jobs that match the tags you have in search</p>

  <p v-if="!tags || tags.length === 0">
    No tags currently selected, you'll be emailed a group of new jobs weekly!
  </p>

  <div id="job-tags" class="sm-margin-vertical full-width xs-pad centered half-line-height" v-else>
    <span class="tag bold-text xs-margin-right display-iblock xs-margin-vertical" :style="{backgroundColor: t.cssColor}" v-for="t in tags">
      {{t.name}}
    </span>
  </div>

  <!-- Alerts -->
  <alert-listing class="xs-margin-top xs-margin-bottom" :alerts="mailingListAlerts" :maxAlertCount=1></alert-listing>

  <div class="pure-u-sm-4-5 pure-u-md-3-5 pure-u-xl-2-5 input-button-stack">
    <input id="email-input" class="full-width black-fg border-box" placeholder="someone@example.com" v-model="email" :disabled="formDisabled" @keydown.enter.prevent="signup"/>
    <button class="pure-button button-secondary button-large full-width" :disabled="formDisabled" @click.prevent="signup">
      <i class="fa fa-envelope"></i>
      Mailing List Signup
    </button>
  </div>

</div>
