.job-posting-request-page-component .jumbotron {
  padding-top: 3em;
  padding-bottom: 2em;
  overflow: hidden;
  position: relative;
}

.job-posting-request-page-component > .jumbotron {
  background: url('/static/images/jumbotron-bg.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.job-posting-request-page-component .jumbotron #site-logo {
  max-height: 6em;
  vertical-align: middle;
}

.job-posting-request-page-component .jumbotron .logo-border {
  background-color: rgba(200,200,200,0.8);
  padding: 1em;
}

.job-posting-request-page-component .jumbotron .title {
  font-size: 4em;
  margin-left: .4em;
  text-shadow: 1px 5px 5px black;
}

.job-posting-request-page-component .jumbotron .top-rhs-menu .pure-menu-link {
  text-shadow: 1px 1px 1px #000;
  background-color: rgba(30, 30, 30, 0.8);
  border-radius: .25em;
  color: white;
}

.job-posting-request-page-component textarea#job-desc {
  min-height: 10em;
}
