<section class="job-posting-request-page-component">
  <div class="jumbotron">
    <div class="jumbotron-title-container centered-text">
      <img id="site-logo" src="/static/images/logo/logo.png"></img>
      <p class="title white-fg xs-pad display-iblock centered-text no-margin valign-mid slim-text">
        New Posting
      </p>
    </div>

  </div>

  <alert-notification :closable="false" class="centered-text" status="info">
    Want to do more than post a single job?
    <br/>

    <a class="plain dashed"
       :href="mailHref">Email us directly</a> for more information about other services we offer!
  </alert-notification>

  <div class="pure-g">

    <div class="pure-u-1-5"></div>

    <!-- Success/failure message -->
    <div id="success-message-container" class="pure-u-3-5" v-if="submittedJobPostingRequest">

      <div class="pure-u-1" v-if="submissionErrored">
        <h1 class="centered-text">
          <i class="fa fa-times-circle alizarin-fg"></i>&nbsp;
          An Error occurred while submitting your job posting request
        </h1>
        <h2>An error occurred while requesting your job posting.</h2>
        <h2>Please email us directly at {{inquiryEmailAddress}} to place your job posting.</h2>
      </div>

      <div class="pure-u-1" v-else>
        <h1 class="centered-text">
          <i class="fa fa-check-circle emerald-fg"></i>&nbsp;
          Job posting request successfully submited
        </h1>
        <h2 class="centered-text">You'll be hearing from our team shortly</h2>
      </div>

    </div>

    <div class="form-container pure-u-3-5" v-else>
      <!-- Alerts -->
      <alert-listing :alerts="alerts" :maxAlertCount=1></alert-listing>

      <form class="pure-form pure-form-stacked minimal black-theme" @submit.prevent="requestJobPosting">
        <fieldset>

          <div class="pure-control-group sm-margin-top">
            <input id="email"
                   class="full-width larger-text"
                   type="text"
                   v-model="email"
                   placeholder="Your Company Email">
            <alert-notification :closable="false"
                                :alert="{status: 'error', message: 'Please enter an email address'}"
                                v-if="submittedOnceWithErrors && !emailIsValid"></alert-notification>
            <p class="pure-form-message">We'll use this email to contact you regarding the job posting.</p>
          </div>

          <div class="pure-control-group sm-margin-top">
            <input id="job-title"
                   class="full-width larger-text"
                   type="text"
                   v-model="title"
                   placeholder="Job Title">
            <alert-notification :closable="false"
                                :alert="{status: 'error', message: 'Please enter a job title'}"
                                v-if="submittedOnceWithErrors && !titleIsValid"></alert-notification>
            <p class="pure-form-message">This is the name that potential applicants will see.</p>
          </div>

          <div class="pure-control-group sm-margin-top">
            <label>Term length</label>
            <select class="pure-select larger-text" v-model="selectedJobType">
              <option disabled value="">What term length does the job have?</option>
              <option v-for="t in availableJobTypes" :value="t.value">{{ t.label }}</option>
            </select>
            <alert-notification :closable="false"
                                :alert="{status: 'error', message: 'Please pick a job type'}"
                                v-if="submittedOnceWithErrors && !selectedJobTypeIsValid"></alert-notification>
          </div>

          <!-- Only show advanced stuff if the user is logged in -->
          <div v-if="userSvc.state.userIsLoggedIn">
            <div class="pure-control-group sm-margin-top">
              <label>Minimum Salary (optional)</label>
              <input id="job-min-salary"
                     class="full-width larger-text"
                     type="number"
                     v-model="minSalary"
                     placeholder="Minimum Salary">
            </div>

            <div class="pure-control-group sm-margin-top">
              <label>Maximum Salary (optional)</label>
              <input id="job-max-salary"
                     class="full-width larger-text"
                     type="number"
                     v-model="maxSalary"
                     placeholder="Maximum Salary">
            </div>

          </div>

          <div class="pure-control-group sm-margin-top">
            <label>Currency (optional)</label>
            <select class="pure-select larger-text" v-model="currency">
              <option disabled value="">Choose currency</option>
              <option v-for="c in availableCurrencies" :value="c.value">{{ c.label }}</option>
            </select>
          </div>

          <div class="pure-control-group sm-margin-top">
            <input id="job-apply-link"
                   class="full-width larger-text"
                   type="text"
                   v-model="applyLink"
                   placeholder="Apply link (URL)">
            <alert-notification :closable="false"
                                :alert="{status: 'error', message: 'Please enter a valid URL for applicants to use'}"
                                v-if="submittedOnceWithErrors && !applyLinkIsValid"></alert-notification>
            <p class="pure-form-message">Applicants will be redirected to this URL if they are interested</p>
          </div>

          <button class="pure-button button-success sm-margin-top">
            <i class="fa fa-send"></i>&nbsp;
            Request Job Posting
          </button>

          <span v-if="!userSvc.state.userIsLoggedIn" class="pure-form-message">Someone from our team will get in touch with you by email, to organize your job posting.</span>

        </fieldset>
      </form>

    </div>

    <div class="pure-u-1-5"></div>
  </div> <!-- /.pure-g -->

</section>
