<div class="user-role-select-component">

  <div class="pure-g">
    <div class="pure-u-1 pure-u-sm-1-2">
      <div class="role-option full-height inner cursor-pointer"
           :class="{selected: roleIsJobSeeker}"
           @click.prevent="changeRole('JOB_SEEKER')">
        <div class="sm-pad">
          <h3 class="centered-text">
            <i class="fa fa-briefcase xl"></i>
            <br/>
            Job Seeker
          </h3>
          <p>Find your next dream opportunity</p>
        </div>
      </div>
    </div>

    <div class="pure-u-1 pure-u-sm-1-2">
      <div class="role-option full-height inner cursor-pointer"
           :class="{selected: roleIsCompanyRep}"
           @click.prevent="changeRole('COMPANY_REPRESENTATIVE')">
        <div class="sm-pad">
          <h3 class="centered-text">
            <i class="fa fa-building-o xl"></i>
            <br/>
            Company Representative
          </h3>
          <p>Find an the next grade A hire for your company</p>
        </div>
      </div>
    </div>
  </div>

</div>
